body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-img {
  width: 200px;
}

.logo-img{
  width: 200px;
  margin-bottom: 2%;
  margin-left: 10px
}

.header-div{
  display: flex; 
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  border-bottom:1px solid rgb(235, 235, 235);
}

.location-search {
  height: 75px;
  width: 300px; 
  margin-bottom: 2%;
}

.input-box { 
  width: 275px;
  height: 28px;
  margin-top: 39px;

}



