body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-div{
  display: flex; 
  align-items: center;
  justify-content: left;
  margin-top: 20px;
  border-bottom:1px solid rgb(235, 235, 235);
}

.logo-img{
  width: 200px;
  margin-bottom: 2%;
  margin-left: 10px
}

.location-search {
  height: 75px;
  width: 300px; 
  margin-bottom: 2%;
}

.input-box { 
  width: 275px;
  height: 28px;
  margin-top: 39px;
}

.post {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  space-around: 
  width: 100%; */

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%
}

.image-container {
  width: 100%;
}

.post-img {
  width: 60%;
}

.info-container {
  display: flex;
  flex-direction: row;
  
}

.location {

  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: grey

}

.price-key{

  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;

}


.availability-key{

  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
}

.size-key{

  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: grey;
  font-size: 14px;
  margin-bottom: 8px;
}

.price {
  font-family:Arial, Helvetica, sans-serif;
  font-weight:60;
  margin-top: 1px;
}


.availability{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:60;
  margin-top: 1px;
}

.size{
  font-family:Arial, Helvetica, sans-serif;
  font-weight:60;
  margin-top: 1px;
}

.price-key-value{
  padding-right: 5%;

}

 .avail-key-value {
  padding-left: 5%;
  padding-right: 5%;
  border-left: 1px solid rgb(216, 210, 210);
  
 
}

.size-key-value {
  padding-left: 5%;
  border-left: 1px solid rgb(216, 210, 210);

  


} 







